<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <% @shops.each do |shop| %>
          <div class="box mb-4">
            <header class="card-header">
              <p class="card-header-title">
                <%= shop.name %>
              </p>
            </header>
            <div class="card-content">
              <div class="content">
                <div class="content average-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= shop.review_score_percentage %>%">★★★★★</div>
                    <div class="star-rating-back">★★★★★</div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= shop.avg_score %>points（<%= shop.reviews.count %>reviews）                    
                  </div>
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <%= link_to shop_reviews_path(shop), class: "button card-footer-item" do %>
                check the review
              <% end %>
              <%= link_to shop_path(shop), class: "button card-footer-item" do %>
                write a review
              <% end %>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
