<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card mb-6 box">
          <header class="card-header">
            <p class="card-header-title">
              <%= @shop.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width:<%= @shop.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @shop.avg_score %>点（<%= @shop.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <table class="table is-fullwidth has-text-centered">
          <thead>
            <tr>
              <th>ユーザー</th><th>点数</th><th>内容</th><th>いいね</th>
            </tr>
          </thead>
          <tbody>
            <% @reviews.each do |review| %>
              <tr>
                <td><%= review.user.username %></td>
                <td><%= review.score %></td>
                <td><%= review.content %></td>
                <td>
                <% if user_signed_in? %>
                  <% if current_user.already_favorited?(review) %>
                    <%= link_to shop_review_favorites_path(@shop.id,review), method: :delete do %>
                      <i class="fas fa-heart heart_red"></i>
                    <% end %>
                    <%= review.favorites.count %>
                  <% else %>
                    <%= link_to shop_review_favorites_path(@shop.id,review), method: :post do %>
                      <i class="far fa-heart heart_red"></i>
                    <% end %>
                    <%= review.favorites.count %>
                  <% end %>
                <% else %>
                  <i class="far fa-heart heart_red"></i>
                  <%= review.favorites.count %>
                <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>